<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add</title>
    <link rel="stylesheet" href="signup.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="signup-box">
      <h1>Enter the details below</h1>
     <form class="form-group" th:action="@{/saveCenter}" method="post">
        <label>ResultID</label>
        <input type="text" placeholder="" />
        <label>ConditionStatus</label>
        <input type="text" placeholder="" />
        <label>TestReading</label>
        <input type="text" placeholder="" />
        
        <input type="button" value="ADD_Center" />
        <a th:href="@{/patientlist}" class="btn btn-default">Update-PATIENT</a>
      </form>
    </div>
  </body>
</html>
